@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(../assets/img/wallpaper3.png);
  background-size: cover;
  background-position: center;
  width: 100%;
}

header {
  background-color: red;
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

header h1 {
  text-transform: uppercase;
}

header ul li {
  display: inline-block;
  padding: 10px;
}

header ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.busca {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto; 
  gap: 20px; 
}

.busca input[type="search"] {
  width: 300px;
  height: 40px; 
  padding: 5px 15px; 
  font-size: 16px; 
  border: 2px solid #ccc; 
  border-radius: 8px; 
  outline: none; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.busca input[type="search"]:focus {
  border-color: #ff0000; 
  box-shadow: 0 0 8px rgba(192, 125, 105, 0.5); 
}

.busca #botao-pesquisar {
  background-color: #ff0000; 
  color: white; 
  border: none; 
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.busca input[type="submit"]:hover {
  background-color: #b300006e; 
}

.busca input[type="submit"]:active {
  background-color: #9c4c4c;
}








.center {
  width: 100%;
  padding: 0 100px;
  margin: 0 auto;
  
  height: auto;
  
}

.container-filmes, .container-series {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  position: relative;
  padding: 30px;
  
  
}

.container-filmes h1, .container-series h1 {
  writing-mode: vertical-rl; 
  text-orientation: upright; 
  color: white;
  font-size: 34px; 
  margin: 0 -70px; 
  text-align: center; 
  position: absolute; 
  left: 0; 
  top: 50%;
  transform: translateY(-50%); 
  
  
}

.container-filmes h1 {
  background-color: rgba(255, 0, 0, 0.39);
  height: 100%;
  padding: 20px;
  
}

.container-series h1 {
  background-color: rgba(0, 0, 255, 0.39);
  height: 100%;
  padding: 20px;
  
}

.card-film p {
  color: white;
  text-align: center;
  padding: 5px;
  background-color: red;
}

.card-serie p {
  color: white;
  text-align: center;
  padding: 5px;
  background-color: blue;
  
  
}

.grade-filmes,
.grade-series {
  padding: 10px;
  display: flex;
  
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  
}


.card-film,
.card-serie {
  width: 200px;
  height: 300px;
  display: block;
  position: relative;
}

.card-film .single-filme,
.card-serie .single-serie {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
}

.card-film {
  margin-top: 50px ;
}

.single-filme img {
  width: 100%;
  height: 100%;
}